.venv
/build/
*.egg-info
*.pyc
/.idea/
/venv/
/data/
/outputs/
__pycache__
/CMakeFiles/
/.vscode/
AGENTS.md
/.pytest_cache/
pytest.xml
.coverage
/docs/
log*
ThirdParty/
gluefactory/datasets/endomapper_seq_lists/*
