data:
    name: endomapper
    data_dir: Endomapper_CUDASIFT_DIC25_NoKFCull
    train_split: train_seqs.txt
    train_num_per_scene: 300  #300
    val_split: val_seqs_NoKFCull.txt
    val_num_per_scene: null 
    val_pairs: val_pairs_all_bins.txt
    overfit_split: overfit_seqs_NoKFCull.txt
    overfit_pairs: null
    overfit_num_per_scene: 10 
    min_overlap: 0.0
    max_overlap: 0.99
    num_overlap_bins: 5
    batch_size: 32 #32
    num_workers: 8 #14
    max_num_features: 1024
    min_images_per_map: 0 
    min_3D_points_per_map: 0
    read_image: true
    grayscale: false


model:
    name: two_view_pipeline
    extractor:
        name: null
    matcher:
        name: matchers.lightglue
        filter_threshold: 1e-3
        flash: false
        checkpointed: true
        add_scale_ori: true
        input_dim: 128
        weights: outputs/training/sift+lg_pretrained/sift_lightglue.pth

    ground_truth:
        name:  matchers.sparse_depth_matcher
        use_gt_pos: true
        th_positive: null
        th_negative: 10
        th_epi: null
        save_fig_when_debug: false
    allow_no_extract: true
    run_gt_in_forward: true
    keypoint_rotation:
        enabled: true
        max_deg: 90.0
        view: 0
        train_only: true

train:
    seed: 0
    epochs: 500
    log_every_iter: 100
    eval_every_iter: 999999999 #1000

    # Write into tb gt figures
    log_gt_pos_val_once: true
    log_gt_pos_overfit_once: true
    log_gt_pos_neg_ign_val_once: true
    log_gt_pos_neg_ign_overfit_once: true

    # Log into txt metrics for all val and overfit datasets
    log_val_metrics: true
    log_overfit_metrics: true
    eval_overlap_bins:
        - [0.0, 0.2]
        - [0.2, 0.4]
        - [0.4, 0.6]
        - [0.6, 0.8]
        - [0.8, 0.99]
    eval_overlap_bins_include_overall: true
    

    lr: 1e-6
    # lr_schedule:
    #     start: 30
    #     type: exp
    #     on_epoch: true
    #     exp_div_10: 10
    dataset_callback_fn: sample_new_items
    plot: [2, 'gluefactory.visualization.visualize_compare_lgoob.make_compare_lg_oob_figures', 4]
    plot_ignored_predictions: true
    save_eval_figs: false
    keep_last_checkpoints: 2  # keep only the last X checkpoints
    load_experiment: null           # nothing before


benchmarks:
    megadepth1500:
        data:
            preprocessing:
                side: long
                resize: 1600
        model:
            extractor:
                nms_radius: 0
        eval:
            estimator: opencv
            ransac_th: 0.5
    hpatches:
        eval:
            estimator: opencv
            ransac_th: 0.5
        model:
            extractor:
                max_num_keypoints: 1024
                nms_radius: 0
