data:
    name: endomapper
    data_dir: Endomapper_CUDASIFT_DIC25
    train_split: train_seqs_DEBUG.txt
    train_num_per_scene: null  #300
    val_split: val_seqs_DEBUG.txt
    val_pairs: null
    min_overlap: 0.1
    max_overlap: 0.7
    num_overlap_bins: 3
    batch_size: 2 #32
    num_workers: 8 #14
    max_num_features: 1024
    min_images_per_map: 0 
    min_3D_points_per_map: 0
    read_image: true
    grayscale: false


model:
    name: two_view_pipeline
    extractor:
        name: null
    matcher:
        name: matchers.lightglue
        filter_threshold: 0.1
        flash: false
        checkpointed: true
        add_scale_ori: true
        input_dim: 128
    ground_truth:
        name:  matchers.sparse_depth_matcher
        use_gt_pos: true
        th_positive: 3
        th_negative: 10
        th_epi: 10
        save_fig_when_debug: false
    allow_no_extract: True
train:
    seed: 0
    epochs: 50
    log_every_iter: 100
    eval_every_iter: 100 #1000
    lr: 1e-4
    lr_schedule:
        start: 30
        type: exp
        on_epoch: true
        exp_div_10: 10
    dataset_callback_fn: sample_new_items
    plot: [5, 'gluefactory.visualization.visualize_compare_lgoob.make_compare_lg_oob_figures']
    save_eval_figs: true
    load_experiment: sift+lg_pretrained           # nothing before  

benchmarks:
    megadepth1500:
        data:
            preprocessing:
                side: long
                resize: 1600
        model:
            extractor:
                nms_radius: 0
        eval:
            estimator: opencv
            ransac_th: 0.5
    hpatches:
        eval:
            estimator: opencv
            ransac_th: 0.5
        model:
            extractor:
                max_num_keypoints: 1024
                nms_radius: 0
