data:
    name: megadepth
    preprocessing:
        resize: 1024
        side: long
        square_pad: True
    train_split: train_scenes_clean.txt
    train_num_per_scene: 300
    val_split: valid_scenes_clean.txt
    val_pairs: valid_pairs.txt
    min_overlap: 0.1
    max_overlap: 0.7
    num_overlap_bins: 3
    read_depth: true
    read_image: true
    batch_size: 2 #32
    num_workers: 0 #14
    load_features:
        do: false  # enable this if you have cached predictions
        path: exports/megadepth-undist-depth-r1024_pycolmap_SIFTGPU-nms3-fixed-k2048/{scene}.h5
        padding_length: 2048
        padding_fn: pad_local_features
        data_keys: ["keypoints", "keypoint_scores", "descriptors", "oris", "scales"]
        
model:
    name: two_view_pipeline
    extractor:
        name: extractors.sift
        backend: py_cudasift
        max_num_keypoints: 2048
        force_num_keypoints: true
        nms_radius: 3
        trainable: false
        detection_threshold: 1.7     # 0.0066667 from COLMAP; scale by 255 for cudasift
        rootsift: true
        first_octave: -1            #Defualt for pycolmap; I think that for cudasift is the same as 0
        num_octaves: 6              # Colmap: 4; Colon: 3; Imitation for Cudasift: 6
        init_blur: 1.0              # Only used by py_cudasift; Colon: 2.0
        filter_kpts_with_wrapper: false          # Only for py_cudasift. Truncate max kpts as Cudasift
        filter_with_scale_weighting: true      # for all that has scores. Multiply scores by scales.
        extractor_channel: grayscale            # Colon: green
        filter_with_lowest_scale: false         # Default is false. Only for those who dont have scores, scale as filter proxy. 
                                                # If true, get the lowest scale filter. 
    matcher:
        name: matchers.lightglue
        filter_threshold: 0.1
        flash: false
        checkpointed: true
        add_scale_ori: true
        input_dim: 128
        depth_confidence: -1
        width_confidence: -1
    ground_truth:
        name: matchers.depth_matcher
        th_positive: 3
        th_negative: 5
        th_epi: 5
    allow_no_extract: True

train:
    seed: 0
    epochs: 50
    log_every_iter: 100
    eval_every_iter: 1000
    lr: 1e-4
    lr_schedule:
        start: 30
        type: exp
        on_epoch: true
        exp_div_10: 10
    dataset_callback_fn: sample_new_items
    plot: [5, 'gluefactory.visualization.visualize_batch.make_match_figures']

benchmarks:
    megadepth1500:
        data:
            preprocessing:
                side: long
                resize: 1600
        model:
            extractor:
                nms_radius: 0
        eval:
            estimator: opencv
            ransac_th: 0.5
    hpatches:
        eval:
            estimator: opencv
            ransac_th: 0.5
        model:
            extractor:
                max_num_keypoints: 1024
                nms_radius: 0
